{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Драники, деруны, или картофельные оладьи - простое приготовление, вкусная закуска.

ДРАНИКИ

Блюдо родом из белорусской кухни, где практически все готовится из картофеля. Уж очень любят там картошку.
Драники можно приготовить не только из картофеля, но и других овощей – кабачков, тыквы и т.д. Если поститесь - приготовьте драники постные, точно так же по рецепту, просто не добавляя яйцо.

Ингредиенты:

- Картофель 2 шт
- Луковица 1 шт.
- Чеснок 3 зубчика
- Яйцо 1 шт.
- Мука 1-2 ст.л.
- Соль
- Перец черный молотый
- Растительное масло

Рецепт приготовления драников:

1. Картофель очистить и натереть на крупную терку. Можно натереть на мелкую – драники получатся нежнее.
2. Лук очистить и измельчить в блендере, или натереть на терке.
3. Чеснок пропустить через чеснокодавку.
4. Все соединить, добавить яйцо, муку, соль и перец по вкусу, хорошо перемешать.
5. Выкладывать на хорошо разогретую сковороду ложкой и жарить как оладьи.

Подавайте горячими со сметаной или с любым соусом, который вам нравится.</p>
        <button class="btn btn-warning" >To About page</button>
    </div>
{% endblock %}