{% extends 'main/layout.html' %}

{% block title %}Site news{% endblock %}

{% block content %}
    <div class="features">
        <h1>Site news</h1>
        <p>Сырники с манкой
Есть мнение, что настоящие сырники не должны содержать муки. Для обеспечения пластичности теста творог нужно предварительно хорошенько отжать и пропустить через сито. Этот рецепт сырников как раз не содержит муки. Также в этом рецепте нет сахара, потому можно назвать манные сырники диетическими.
Для более сладкого вкуса можно добавить в тесто горсть изюма, предварительно промытого.
Ингредиенты:
Творог — 600 г
Манная крупа — 100 г
Соль — 1 ч. л.
Яйца куриные — 2 шт.
Масло для обжарки
Манка для панировки
Приготовление:
1. Соединить протертый творог с манкой, солью и яйцами. Надеть силиконовые перчатки и хорошенько вымесить тесто до консистенции пластилина. Сформировать небольшие приплюснутые лепешки, не более 1 см в толщину. Чем тоньше лепешка, тем быстрее она прожарится.
2. С помощью ножа или вилки сделать узор с обеих сторон. Запанировать каждый сырник в манной крупе и обжарить в разогретом в сковороде растительном масле до золотистого цвета с обеих сторон.
3. Для удаления излишков масла выкладывайте готовые сырники на бумажные полотенца и промокайте.
4. Подавать манные сырники в теплом виде с вареньем, джемом или сгущенным молоком.
Приятного аппетита!</p>
        <button class="btn btn-warning" >To About page</button>
    </div>
{% endblock %}